
.slider-container{
    position: relative;
    bottom: 440px;
}
.card > .slick-img{
    width: 90%;
    height: 280px;
padding-left: 60px;
}
.slick-slider .slick-slide {
    padding: 0 15px;
  }





